.event-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(3rem, 26rem));
    gap: 4rem;
    justify-content: center;
    padding: 0%;
}

.event-image {
    width: 100vw;
    height: 50vh;
    position: relative;
}