.event-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(3rem, 26rem));
    gap: 4rem;
    justify-content: center;
    padding: 0%;
}

.event-slogan {
    color: white;
    display: flex;
    justify-content: center;
}

.event-image {
    width: 100vw;
    height: 50vh;
    position: relative;
}

.event-modal-btn {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 2rem;
}

.event-modal-btn button {
    margin-bottom: 3vh;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    /* display: flex; */
    justify-content: space-between;
    padding: 0.3rem;
    border-radius: 0.2rem;
    margin: 3px;
    background-color: Transparent;
    background-repeat:no-repeat;
    cursor: pointer;
}

.event-title {
    color: white;
    display: flex;
    justify-content: center;
}

.event-line {
    flex: 1;
    height: 1px;
    background-color: white;
    margin: 0ch 8vh 6vh 8vh;
}