.listed-properties {
    display: grid;
    grid-template-columns: repeat(2, minmax(3rem, 26rem));
    gap: 6rem;
    justify-content: center;
    padding: 0%;
}

.listing-banner {
    width: 100vw;
    height: 50vh;
    position: relative;
}